/* src/components/mainpage.css */

/* Carousel Item Styling */
.carousel-item {
    cursor: pointer;
    padding: 0 15px;
    transition: transform 0.3s ease-in-out;
  }
  
  .carousel-item:hover {
    transform: scale(1.05); /* Adjust the scaling on hover */
  }
  
  /* Modal Styling */
  .modal {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-content {
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
  }
  
  .modal-header {
    color: rgb(0, 0, 0);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .modal-footer {
    padding: 1rem;
    background-color: #f8f9fa;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  
  /* Carousel Next/Previous Button Styling */
  .slick-prev,
  .slick-next {
    font-size: 0px;
    color: #4caf50;
    margin: 0 -20px;
    border: none;
    background: none;
  }
  
  .slick-prev:hover,
  .slick-next:hover {
    color: #000000;
  }
  
  .slick-prev:before,
  .slick-next:before {
    font-size: 30px;
    color: #c3c3c3;
  }
  
  /* Mobile Styles */
  @media screen and (max-width: 768px) {
    .carousel-item {
      padding: 0 10px; /* Adjust spacing for smaller screens */
      min-width: 100%; /* Ensure at least 80% width for mobile displays */
    }
  
    .slick-prev,
    .slick-next {
      margin: 0 -10px; /* Adjust arrow spacing for smaller screens */
    }
  
    /* Ensure at least one offer is visible on mobile screens */
    .slick-track {
      display: flex;
      min-width: 10%; /* Ensure the track is at least 100% wide */
    }
  
    .slick-slide {
      flex: 0 0 0%; /* Set each slide to 80% of the container width */
    }
  }
  